<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="table-container">
    <div>
    <h2 class="title supported">Supported Devices</h2>
      <table mat-table [dataSource]="tableDataSupportedDevices" class="mat-elevation-z3 rounded-table">
        <ng-container matColumnDef="deviceType">
          <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Device Type </th>
          <td mat-cell *matCellDef="let element" class="custom-cell"> {{ element.deviceType }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsSupportedDevices"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSupportedDevices;"></tr>
      </table>
    </div>
  
    <div>
      <div class="title-filter-container">
        <h2 class="title">All Devices</h2>
        <app-filter (filter)="onFilterChange($event)"></app-filter>
      </div>

      <table mat-table [dataSource]="tableDataAllDevices" class="mat-elevation-z3 rounded-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Name </th>
          <td mat-cell *matCellDef="let element" class="custom-cell"> {{ element.name }} </td>
        </ng-container>
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Model </th>
          <td mat-cell *matCellDef="let element" class="custom-cell"> {{ element.model }} </td>
        </ng-container>
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef class="custom-header-cell"> Company Name </th>
          <td mat-cell *matCellDef="let element" class="custom-cell"> {{ element.companyName }} </td>
        </ng-container>
        <ng-container matColumnDef="mainPhoto">
          <th mat-header-cell *matHeaderCellDef class="custom-header-cell transparent-header">Main Photo</th>
          <td mat-cell *matCellDef="let device">
            <a [href]="device.mainPhoto" target="_blank">
              <button mat-icon-button>
                <mat-icon>photo</mat-icon>
              </button>
            </a>
          </td>
        </ng-container> 
        <ng-container matColumnDef="photos">
          <th mat-header-cell *matHeaderCellDef class="custom-header-cell centered"> Photos </th>
          <td mat-cell *matCellDef="let device" class="custom-cell centered">
            <button mat-button (click)="openViewPhotosDialog(device)">See All Photos</button>
          </td>
        </ng-container>   
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAllDevices"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAllDevices;"></tr>

        <tr *matNoDataRow>
          <td colspan="5" class="no-data-message">No data available in table</td>
        </tr>
      </table>

      <div *ngIf="tableDataAllDevices && tableDataAllDevices.length > 0" class="paginator-container">
        <app-paginator
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          [totalResults]="totalResults"
          [resultsPerPage]="resultsPerPage"
          (pageChange)="onPageChange($event)">
        </app-paginator>
      </div>
    </div>
  </div>
  