:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  background-color: #acacad64;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.file-label {
  display: block;
  padding: 15px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #e0e2ec;
  width: 100%;
  border-bottom: 1px solid rgb(26, 27, 31);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0px;
}

.file-label:hover {
  background-color: #d6d6d6;
}

.primary-button {
  padding: 7px 10px;
  font-size: 14px;
}
